* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

.container {
    min-height: 100vh;
    width: 100%;
    background: -webkit-linear-gradient(right, #000000,#0805b3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.service-wrapper {
    padding: 2.5% 8%;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #f3d421;
    font-size: 5rem;
    -webkit-text-stroke-color: transparent;
    letter-spacing: 4px;
    background-color: #000326;
    background: linear-gradient(8deg, #f3d421 0%, #e5be02 41%, #4f3800 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}

    h1:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 10%;
        height: 8px;
        width: 80%;
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 0.05);
    }

    h1 span {
        position: absolute;
        top: 100%;
        left: 10%;
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background-color: #e5be02;
        animation: anim 5s linear infinite;
    }

@keyframes anim {
    95% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        left: 88%;
    }
}

.content-table {
    border-collapse: collapse;
    margin: 15px 0;
    font-size: 0.9em;
    min-width: 70%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

    .content-table thead tr {
        background-color: #e5be02;
        color: #ffffff;
        text-align: left;
        font-weight: bold;
    }

    .content-table th, .content-table td {
        padding: 12px 15px;
    }

    .content-table tbody tr {
        border-bottom: 1px solid #ffff;
    }

        .content-table tbody tr:nth-of-type(even) {
            background-color: #FFF;
        }

        .content-table tbody tr:last-of-type {
            border-bottom: 2px solid #009879;
        }

        .content-table tbody tr.active-row {
            font-weight: bold;
            color: #009879;
        }

tr[data-href] {
    cursor:pointer;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
    margin-bottom: 10px;
}

.add-delete, .teacher, .student, .logout {
    margin: 0 25px;
    position: relative;
    display: inline-block;
    padding: 15px 15px;
    color: #f3d421;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 25px;
    overflow: hidden;
    transition: 0.2s;
}

    .add-delete:hover, .teacher:hover, .student:hover, .logout:hover {
        color: #0805b3;
        background: #f3d421;
        box-shadow: 0 0 10px #f3d421, 0 0 40px #f3d421, 0 0 80px #f3d421;
        transition-delay: 1s;
    }

    .add-delete span, .teacher span, .student span, .logout span {
        position: absolute;
        display: block;
    }

        .add-delete span:nth-child(1), .teacher span:nth-child(1), .student span:nth-child(1), .logout span:nth-child(1) {
            top: 0;
            left: -100%;
            width: 100%;
            height: 2px;
            background: linear-gradient(90deg,transparent,#f3d421);
        }

    .add-delete:hover span:nth-child(1), .teacher:hover span:nth-child(1), .student:hover span:nth-child(1), .logout:hover span:nth-child(1) {
        left: 100%;
        transition: 1s;
    }

    .add-delete span:nth-child(3), .teacher span:nth-child(3), .student span:nth-child(3), .logout span:nth-child(3) {
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg,transparent,#f3d421);
    }

    .add-delete:hover span:nth-child(3), .teacher:hover span:nth-child(3), .student:hover span:nth-child(3), .logout:hover span:nth-child(3) {
        right: 100%;
        transition: 1s;
        transition-delay: 0.5s;
    }

    .add-delete span:nth-child(2), .teacher span:nth-child(2), .student span:nth-child(2), .logout span:nth-child(2) {
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg,transparent,#f3d421);
    }

    .add-delete:hover span:nth-child(2), .teacher:hover span:nth-child(2), .student:hover span:nth-child(2), .logout:hover span:nth-child(2) {
        top: 100%;
        transition: 1s;
        transition-delay: 0.25s;
    }

    .add-delete span:nth-child(4), .teacher span:nth-child(4), .student span:nth-child(4), .logout span:nth-child(4) {
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg,transparent,#f3d421);
    }

    .add-delete:hover span:nth-child(4), .teacher:hover span:nth-child(4), .student:hover span:nth-child(4), .logout:hover span:nth-child(4) {
        bottom: 100%;
        transition: 1s;
        transition-delay: 0.75s;
    }