<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='content/admin_list.css') }}">
</head>
<body>
    <h1>Modifier</h1>
    <table class="content-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Mail</th>
                <th>Classe</th>
                <th>Matières</th>
            </tr>
        </thead>
        <tbody>
            {% for student in student_data %}
            <tr>
                <td><a href="/">{{ student.id }}</a></td>
                <td>{{ student.Nom }}</td>
                <td>{{ student.Prenom }}</td>
                <td>{{ student.Mail }}</td>
                <td>{{ student.Classe }}</td>
                <td>{{ ", ".join(student.Matieres) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="actions">
        <a class="add-delete" href="/admin/register">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Ajouter
        </a>
        <a class="teacher" href="/admin/list/teachers">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Professeur
        </a>
        <a class="student" href="/admin/list/students">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Elève
        </a>
    </div>
</body>
</html>