<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='content/admin_modif.css') }}">
</head>
<body>
    <div class="wrapper">
        <div class="title-text">
            <div class="title login">
                Administration
            </div>
        </div>
        <div class="form-container">
            <div class="form-inner">
                <form action="/admin/register" class="signup" method="post">

                    <div class="slide-controls">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
                        <input type="radio" name="role" value="1" id="Prof">
                        <input type="radio" name="role" value="0" id="Eleve">
                        <label for="Prof" class="slide Prof" id="Prof-btn">Matière</label>
                        <label for="Eleve" class="slide Eleve" id="Eleve-btn">Classe</label>
                        <div class="slider-tab"></div>
                    </div>
                    <div class="slide-controls action-buttons">
                        <input type="radio" name="action" value="add" id="add">
                        <input type="radio" name="action" value="edit" id="edit">
                        <input type="radio" name="action" value="delete" id="delete">
                        <label for="add" class="slide add" id="add-btn">Ajouter</label>
                        <label for="edit" class="slide edit" id="edit-btn">Modifier</label>
                        <label for="delete" class="slide delete" id="delete-btn">Supprimer</label>
                        <div class="slider-tab action-slider-tab"></div>
                    </div>
                    <div id="add-form" class="dynamic-form" style="display:none;">
                        <div class="field matiere-field">
                            <input name="matiere" placeholder="Matière">
                        </div>
                        <div class="field-row classe-fields">
                            <div class="field">
                                <input type="text" name="annee" placeholder="Année">
                            </div>
                            <div class="field">
                                <input type="text" name="numero_classe" placeholder="Numéro de classe">
                            </div>
                        </div>
                    </div>
                    <div id="delete-form" class="dynamic-form" style="display:none;">
                        <div class="field classe-selects">
                            <select id="select-prof" class="role-selection" name="username" style="display: none;">
                                <option value="" disabled selected>Année</option>
                                {% for annee in annees %}
                                <option value="{{ annee }}">{{ annee }}</option>
                                {% endfor %}
                            </select>
                            <select id="select-prof" class="role-selection" name="username" style="display: none;">
                                <option value="" disabled selected>Numéro de classe</option>
                                {% for numero in numeros %}
                                <option value="{{ numero }}">{{ numero }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="field">
                            <select id="select-eleve" class="role-selection" name="username">
                                <option value="" disabled selected>Matière</option>
                                {% for matiere in matieres %}
                                <option value="{{ matiere }}">{{ matiere }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="field btn">
                        <div class="btn-layer"></div>
                        <input type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="actions">
        <a class="add-delete" href="/logout">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Déconnexion
        </a>
        <a class="teacher" href="/admin/">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Menu
        </a>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/admin_list.js') }}"></script>
</body>
</html>
