<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='content/style.css') }}">
</head>
<body>
    <div class="wrapper">
        <div class="title-text">
            <div class="title login">
                Administration
            </div>
        </div>
        <div class="form-container">
            <div class="form-inner">
                <form action="/admin/register" class="signup" method="post">
                    <div class="slide-controls">
                        <input type="radio" name="role" value="1" id="Prof">
                        <input type="radio" name="role" value="0" id="eleve" checked>
                        <label for="Prof" class="slide Prof" id="Prof-btn">Professeur</label>
                        <label for="eleve" class="slide eleve" id="eleve-btn">Élève</label>
                        <div class="slider-tab"></div>
                    </div>
                    <div class="field-row">
                        <div class="field">
                            <input type="text" name="last_name" placeholder="Nom">
                        </div>
                        <div class="field">
                            <input type="text" name="first_name" placeholder="Prénom">
                        </div>
                    </div>
                    <div class="field matiere-field">
                        <select name="matiere" placeholder="Matière">
                            <option value="" disabled selected>Matiere</option>
                            {% for Matiere in matieres %}
                            <option value="{{ matieres.Matiere }}">{{ matieres.Matiere }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="field classe-field">
                        <select name="classe" placeholder="Classe">
                            <option value="" disabled selected>Classe</option>
                            {% for classe in classename %}
                            <option value="{{ classe.classename }}">{{ classe.classename }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="field">
                        <input type="text" name="mail" placeholder="Email Address">
                    </div>
                    <div class="field">
                        <input type="password" name="password" placeholder="Password">
                    </div>
                    <div class="field btn">
                        <div class="btn-layer"></div>
                        <input type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/style.js') }}"></script>
</body>
</html>
