<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='content/style.css') }}">
</head>
<body>
    <div class="actions">
        <a class="logout" href="game/game.html">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Déconnexion
        </a>
        <a class="edit" href="game/game.html">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Menu
        </a>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/style.js') }}"></script>
</body>
</html>
