<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='content/Index.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <meta charset="utf-8">
    <div class="wrapper">
        <div class="title-text">
            <div class="title login">
                Compte
            </div>
            <div class="title signup">
                Compte
            </div>
        </div>
        <div class="form-container">
            <div class="slide-controls">
                <input type="radio" name="slide" id="login" checked>
                <input type="radio" name="slide" id="signup" checked>
                <label for="login" class="slide login">Connexion</label>
                <label for="signup" class="slide signup">Inscription</label>
                <div class="slider-tab"></div>
            </div>
            <div class="form-inner">
                <form action="/login" class="login" method="post">
                    <div class="field">
                        <input type="text" name="username" placeholder="Username" required>
                    </div>
                    <div class="field">
                        <input type="password" name="password" placeholder="Password" required>
                    </div>
                    <div class="pass-link">
                        <a href="#">Mot de passe oublié?</a>
                    </div>
                    <div class="field btn">
                        <a class="btn-layer" href="main.html"></a>
                        <input type="submit" value="Connexion">
                    </div>
                </form>
                <form action="/register" class="signup" method="post">
                    <div class="field">
                        <input type="text" placeholder="Email Address" >
                    </div>
                    <div class="field">
                        <input type="password" placeholder="Password" >
                    </div>
                    <div class="field">
                        <input type="password" placeholder="Confirm Password" >
                    </div>
                    <div class="field btn">
                        <div class="btn-layer" href="main.html"></div>
                        <input type="submit" value="SignUp">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/Index.js') }}"></script>
</body>
</html>
