<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='content/style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <meta charset="utf-8">
    <div class="wrapper">
        <div class="title-text">
            <div class="title login">
                Compte
            </div>
            <div class="title signup">
                Compte
            </div>
        </div>
        <div class="form-container">
            <div class="slide-controls">
                <input type="radio" name="slide" id="login" checked>
                <input type="radio" name="slide" id="signup">
                <label for="login" class="slide login" id="sign-in-btn">Connexion</label>
                <label for="signup" class="slide signup" id="sign-up-btn">Inscription</label>
                <div class="slider-tab"></div>
            </div>
            <div class="form-inner">
                <form action="/login" class="login" method="post">
                    <div class="field">
                        <input type="text" name="username" placeholder="Username" required>
                    </div>
                    <div class="field">
                        <input type="password" name="password" placeholder="Password" required>
                    </div>
                    <div class="pass-link">
                        <a href="#">Mot de passe oublié?</a>
                    </div>
                    <div class="field btn">
                        <a class="btn-layer" href="main.html"></a>
                        <input type="submit" value="Connexion">
                    </div>
                </form>
                <form action="/signup" class="signup">
                    <div class="slide-controls">
                        <input type="radio" name="slide" id="Prof">
                        <input type="radio" name="slide" id="eleve" checked>
                        <label for="Prof" class="slide Prof" id="Prof-btn">Professeur</label>
                        <label for="eleve" class="slide eleve" id="eleve-btn">Eleve</label>
                        <div class="slider-tab"></div>
                    </div>
                    <div class="field-row">
                        <div class="field">
                            <input type="text" placeholder="Nom">
                        </div>
                        <div class="field">
                            <input type="text" placeholder="Prénom">
                        </div>
                    </div>
                    <div class="field matiere-field">
                        <input type="text" placeholder="Matière">
                    </div>
                    <div class="field">
                        <input type="text" placeholder="Email Address">
                    </div>
                    <div class="field">
                        <input type="password" placeholder="Password">
                    </div>
                    <div class="field btn">
                        <div class="btn-layer" href="main.html"></div>
                        <input type="submit" value="SignUp">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/style.js') }}"></script>
</body>
</html>
