<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='content/main.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <title>Cyber School</title>
</head>
<body>
    <div class="container">
        <div class="service-wrapper">
            <div class="service">
                <h1>Cyber School <span></span></h1>
                <div class="cards">
                    <div class="card">
                        <i class="fa-solid fa-chart-simple"></i>
                        <h2>Notes</h2>
                        <p>blabla</p>
                    </div>
                    <div class="card">
                        <i class="fa-solid fa-marker"></i>
                        <h2>Mettre une note</h2>
                        <form action="/teachers/grades/add" class="note-form" method="post">
                            <div class="field">
                                <select name="username" required>
                                    <option value="" disabled selected>Username</option>
                                    {% for Mail in students %}
                                    <option value="{{ Mail }}">{{ Mail }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="field">
                                <input type="text" name="grade" placeholder="Note">
                            </div>
                            <div class="field">
                                <input type="text" name="max_grade" placeholder="Note maximum possible">
                            </div>
                            <div class="field">
                                <input type="text" name="informations" placeholder="Description">
                            </div>
                            <div class="field">
                                <input type="text" name="coef" placeholder="Coef">
                            </div>
                            <div class="field btn">
                                <input type="submit" value="Donner la note">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="logout-button">
            <a href="/logout" class="btn-logout">Logout</a>
        </div>
    </div>
</body>
</html>
